.App {
  margin: 0;
  padding: 0;
  display: grid;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --yellow: #F0A500;
  --white: #fff;
  --dark-grey: #082032;
  --grey: #334756;
  --grey1: #eee;
  --grey2: #444;
  --grey3: #ccc;
}

